<% include ./partials/header %>

<div class="ui main text container segment">
     <div id="show_title" class="ui huge header"><%= blog.title %></div>
     <div class="ui top attached">
         <div class="item">
             <img id="show_img" class="ui centered rounded image" src= "<%= blog.image %>" >
             <div id="meta" class="content">
                 <span><%= blog.created.toDateString() %></span>
             </div>
             <div id="show" class="description">
                 <p><%- blog.body %></p>
             </div>
             <a id="edit" class="ui inverted orange button" href="/blogs/<%= blog._id %>/edit">Edit</a>
             <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                 <button class="ui inverted red button">Delete</button>
             </form>
         </div>
     </div>
</div>

<% include ./partials/footer %>
